.App {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    transition: all 0.3s ease;
  }
  
  /* Remove any default margins and padding from the body */
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }